@import 'base.css';
*{margin: 0;padding:0;}
.da-header{
	height: 35px;
	background:#F2F2F2 ;
	.da-conpainer{
		width: 1200px;
		margin: 0 auto;
		a{
			line-height: 35px;
			color:#666666;
			&:hover{
			color: red;
			text-decoration: underline;
			}	
		}
		.da-ul{float: right;
			li{
				float: left;
				a{line-height: 35px;
					padding: 0 12px;
					border-right: 1px solid #666666;
					color: #666666;
					&:hover{
						color: red;
						text-decoration: underline;
					}

				}
			}
		}
	}
}


.da-logo{height: 127px;}
.da-logo-conpainer{
	width: 1200px;margin: 0 auto;
	height: 127px;
	a{float: left;}
	.logo{margin-top: 40px;}
	.promo{margin-left: 25px;}
	.da-search{width: 400px;
			margin-left: 100px;
			float: left;
			margin-top: 32px;

		.kuan{
			width: 312px;
			height: 36px;
			border: 1px solid #6B4185;
			border-right: 0;
		}
		
		.search{
			width: 82px;
			height: 36px;
			background: #6B4185;
			border: 0;
			color: white;
			line-height: 36px;
			// font-size: 14px;
			

		}
		p a{
			float: left;
			color: #666666;
			margin-right: 10px;
			margin-top: 10px;
			&:hover{
				color: red;
				text-decoration: underline;
			}
		}
	
	}
	.da-shopcar{
		height: 36px;
		width: 160px;
		background: #F1F1F1;
		float: right;
		border-radius: 2px;
		margin-top:32px ;

		a{
			line-height: 36px;
			font-size: 14px;
			color: #666666;
			margin-left: 50px;
			span{
				margin-left: 20px;
				line-height: 36px;
				font-size: 20px;
			}
		}
	}	
}
.da-nav{
	height: 30px;
	background: #333333;
	.container{
		width: 1200px;
		height: 30px;
		margin: 0 auto;
		.all{
			width: 221px;
			background: #654579;
			float: left;
			height: 30px;
			p{
				line-height: 30px;
				font-size: 16px;
				color: white;
				text-align: center;
				span{
					margin-left: 10px;
				}
			}
		}
		.nav{
			width: 979px;
			height: 30px;
			float: left;
			li{
				padding:0 35px;
				float: left;
				a{
					color: white;
					line-height: 30px;
					font-size: 16px;
					&:hover{
						color: #666666;
					}
				}
			}

		}


	}
}

// footer.css样式
.da-assure{
	height: 82px;
	border-top:1px solid #ccc;
	border-bottom: 3px solid #ccc;
	.da-assure-conpainer{
		width: 1200px;
		height: 82px;
		margin: 0 auto;
		.clearfix li{
			padding:0 100px; 
			float: left;
			font-size: 16px;
			color: #666666;
			line-height: 83px;

		}
	}
}

.da-investor{
	width: 1055px;
	height: 144px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	color: #666666;
	.first{
		margin-top: 36px;
		margin-left: 60px;
		float: left;
		.first-li{
			font-size: 18px;
		}
		.second-li{
			font-size: 14px;
			line-height: 30px;
		}
	}
	.second{
		margin-top: 36px;
		margin-left: 219px;
		float: left;
		.first-li{
			font-size: 18px;

		}
		.second-li{
			font-size: 14px;
			line-height: 30px;
		}
		.third-li{
			font-size: 14px;
			line-height: 22px;
		}
	}

}



.da-copyright{
	height: 140px;
	ul {
		width: 600px;
		margin-left: 440px;
		margin-top: 25px;
		li{
			float: left;
			text-align: center;
			a{
				padding:0 10px;
				border-right: 1px solid #ccc;
				color: #666666;
				&:hover{
					color: red;
					text-decoration: underline;
				}		
			}
		}
	}
	.p-first{
		color: #666666;
		margin-left: 635px;
		margin-top: 24px;
	}
	.p-second{
		color: #666666;
		margin-left: 300px;
		margin-top: 27px;
	}
	
}