@import 'common.css';
@import 'jquery.gdszoom.css';
.detail-link{
	width: 1200px;
	height: 40px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 10px auto;
	.detail-list{
		height: 40px;
		li{
			float: left;
			padding:0 10px;
			&:last-child{
				line-height: 40px;
				color: #666666;
			}
			a{
				line-height: 40px;
				color: #666666;
			}
			span{
				margin-left: 10px;
				font-size: 16px;
				line-height: 40px;
			}
		}
	}
}
.detail-main{
	width: 1200px;
	height: 481px;
	margin:0 auto;
	.detail-left{
		width: 1021px;
		height: 453px;
		float: left;
		padding-top: 15px;
		.good-show{
			width: 378px;
			height: 453px;
			float: left;
			.goods-big{
				width: 380px;
				height: 380px;
				border:1px solid #ccc;
				img{
					width: 378px;
					height: 378px;
				}
			}
			.share{
					width: 378px;
					height: 70px;
					margin-top: 31px;
				.share-tip{
					width: 92px;
					height: 48px;
					float: left;
					a{
						color: #666666;
					}
				}
				.receive{
					float: left;
					height: 48px;
					width: 178px;
					a{
						color: #666666;
					}
				}
				.know{
					float: left;
					height: 48px;
					a{
						color: #666666;
						display: block;
						width: 108px;
						height: 30px;
						text-align: center;
						&:hover+.tip{
							display: block;
						}
					}
					.tip{
						width: 108px;
						height: 200px;
						background: skyblue;
						display: none;
					}
				}
			}
			
		}
		.goods-intro{
			width: 605px;
			height: 453px;
			float: left;
			margin-left: 37px;
			h2{
				color: #666666;
			}
			.good-price{
				height: 108px;
				width: 605px;
			}
			.tip{
				width: 79px;
				height: 108px;
				float: left;
				margin-top: 40px;
				p{
					color: #666666;
				}
			}
			.price{
				width: 520px;
				height: 108px;
				float: left;
				margin-top: 29px;
				.p1{
					span{
						font-size: 26px;
						font-weight: bold;
						color: #666666;
					}
				}
				.p2{
					color: #666666;
					line-height: 18px;
					span{
						background: red;
						color: #fff;
					}
				}
				.p3{
					color: #999999;
					line-height: 18px;
				}
			}
			.good-message{
				height: 43px;
				width: 526px;
				ul{

					li{
						float: left;
						padding:0 50px;
						border-right: 1px solid #ccc;
						color: #666666;

						&:first-child{
							padding-left: 0;
						}
					}
				}
			}
			.good-buy{
				height: 38px;
				width: 526px;
				margin-top: 22px;
				.buy{
					padding-top: 10px; 
					p{
						color:#666666;
					}
				}
			}
			.buy-btn{
				height: 44px;
				width: 526px;
				margin-top: 30px;
				.btn-buy{
					width: 143px;
					height: 44px;
					border:2px solid #E14958;
					background: #fff;
					color: red;
					margin-left: 77px;
				}
				.good-add{
					width: 143px;
					height: 44px;
					background: #E14958;
					border: 0;
					color: #fff;
					margin-left: 10px;
				}
			}
			.good-tips{
				height: 22px;
				width: 526px;
				margin-top: 27px;
				.mr20{
					margin-left: 77px;
					line-height: 22px;
					color: #666666;
				}
			}
		}
	}
	.detail-right{
		width: 146px;
		height: 481px;
		background: yellow;
		float: left;
		margin-left: 16px;
	}
}

// 内容详情页，图片，评论等等 
.detail-info{
	width: 1020px;
	margin-left: 115px;
	.message{
		width: 1020px;
		height: 84px;
		padding-top: 40px;
		ul{
			border-bottom: 1px solid #ccc;
			height: 44px;
			li{
				float: left;
				padding:0 30px;
				line-height: 42px;
				border-bottom: 0;
				&:first-child{
					border:1px solid #ccc;
					border-top: 2px solid #ccc;
					border-bottom: 0;

				}
				a{
					font-size: 16px;
					color: #666666;
					font-weight: bold;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.detail-info1{
	width: 960px;
	height: 144px;
	margin-left: 145px;
	border-bottom: 1px dashed #ccc;
	.intros{
		margin-top: 30px;
		line-height: 38px;
		color: #666666;
		font-size: 14px;
		font-weight: bold;
	}
	span{
		color: #666666;
		line-height: 30px;
		margin-right: 50px;
	}

}
.detail-pic{
	width: 960px;
	height: 8387px;
	margin-left: 145px;
	border-bottom: 1px dashed #ccc;
	.msg{
		margin-top: 30px;
		line-height: 38px;
		color: #666666;
		font-size: 14px;
		font-weight: bold;
	}
}
.mianshui{
	width: 960px;
	height: 535px;
	margin-left: 145px;
	p{
		margin-top: 30px;
		line-height: 38px;
		color: #666666;
		font-size: 14px;
		font-weight: bold;
	}
}
.help{
	width: 960px;
	margin-left: 145px;
}