@import 'common.css';
.da-banner{
	background: #85AEFE;
	.da-select-banner{
		overflow: hidden;
		width: 1200px;
		margin:0 auto;
		ul{
			position:relative;
			li img{
				
			}
		}
	}
	.da-select{
		width: 222px;
		height: 480px;
		background: #E8E3EB;
		position: absolute;
		left: 112px;
		top: 192px;
		.first-select{
			width: 180px;
			height: 121px;
			border-bottom: 1px dotted #ccc;
			margin-left: 21px;
			p{
				line-height: 50px;
				font-size: 14px;
				margin-left: 6px;
			}
			.one{
				width: 160px;
				li{
					float: left;
					padding: 0 6px;
					line-height: 20px;
				}
			}
			.two{
				margin-left: 6px;
				li{
					float: left;
					line-height: 20px;
				}

			}
		}
		.second-select{
			width: 180px;
			height: 121px;
			border-bottom: 1px dotted #ccc;
			margin-left: 21px;
			p{
				line-height: 50px;
				font-size: 14px;
				margin-left: 6px;
			}
			.one{
				width: 160px;
				li{
					float: left;
					padding: 0 6px;
					line-height: 20px;
				}
			}
			.two{
				margin-left: 6px;
				li{
					float: left;
					line-height: 20px;
				}

			}
		}
		.three-select{
			width: 180px;
			height: 121px;
			border-bottom: 1px dotted #ccc;
			margin-left: 21px;
			p{
				line-height: 50px;
				font-size: 14px;
				margin-left: 6px;
			}
			.one{
				width: 160px;
				li{
					float: left;
					padding: 0 6px;
					line-height: 20px;
				}
			}
			.two{
				margin-left: 6px;
				li{
					float: left;
					line-height: 20px;
				}

			}
		}
		.four-select{
			width: 180px;
			height: 121px;
			margin-left: 21px;
			p{
				line-height: 50px;
				font-size: 14px;
				margin-left: 6px;
			}
			.one{
				width: 160px;
				li{
					float: left;
					padding: 0 6px;
					line-height: 20px;
				}
			}
			.two{
				margin-left: 6px;
				li{
					float: left;
					line-height: 20px;
				}

			}
		}
	}

}
.da-main-all{
	background: #F9F9F9;

	.da-main{
		width: 1200px;
		margin:0 auto;
		.da-main-word{
			height: 191px;
			padding-top: 74px;
			p{
				
				font-size: 30px;
				margin-left: 384px;
				color: #666666;
			}
			span{
				display: block;
				margin-top: 108px;
				margin-left: 56px;
				color: #666666;
				font-size: 16px;
			}	
		}
		.da-main-look{
			height: 284px;
			.first{
				width: 590px;
				float: left;
				a{
					&:hover img{
						box-shadow: 0 0 4px 1px #ccc;
					}
				}
			}
			.second{
				width: 590px;
				float: left;
				margin-left: 20px;
				a{
					&:hover img{
						box-shadow: 0 0 4px 1px #ccc;
					}
				}
			}
		}
		.da-main-new{
			height: 82px;
			padding-top: 41px;
			span{
				margin-left: 56px;
				color: #666666;
				font-size: 16px;
			}	
			.da-main-load{
				width: 91px;
				height: 31px;
				background: red;
				float: right;
				margin-right: 40px;
				p{
					color:#fff;
					font-size: 14px;
					line-height: 31px; 
					margin-left: 20px;
				}
			}
		}
		.da-main-product{
			height: 382px;
			width: 1200px;
			.first{
				width: 289px;
				height: 382px;
				float: left;
				border:1px solid #ccc;
				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
					
				}
				.product-img{
					width: 289px;
					height: 266px;
						img{
						width: 287px;
						height: 266px;
					}
				}
				.product-word{
					margin-left: 20px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 80px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
			.second{
				width: 289px;
				height: 382px;
				float: left;
				margin-left: 14px;
				border:1px solid #ccc;

				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
					
				}
				.product-img{
						width: 289px;
						height: 266px;
						img{
							width: 287px;
							height: 266px;
						}
					}
				
				.product-word{
					margin-left: 20px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 80px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
			.three{
				width: 289px;
				height: 382px;
				float: left;
				margin-left: 14px;
				border:1px solid #ccc;
				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
					
				}
				.product-img{
					width: 287px;
					height: 266px;
					img{
						width: 287px;
						height: 266px;
					}
				}
				.product-word{
					margin-left: 27px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 100px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
			.four{
				width: 289px;
				height: 382px;
				float: left;
				margin-left: 14px;
				border:1px solid #ccc;
				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
					
				}
				.product-img{
					width: 289px;
					height: 266px;
					img{
						width: 287px;
						height: 266px;
					}
				}
				.product-word{
					margin-left: 15px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 80px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
		}
		.da-main-cloth{
			height: 240px;
			margin-top: 18px;
			.first{
				width: 590px;
				height: 241px;
				float: left;
				border:1px solid #ccc;
				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
				}
				.cloth-img{
					float: left;
					img{
					width: 285px;
					height: 240px;
					}
				}
				.cloth-word{
					float: left;
					margin-left: 47px;
					margin-top: 80px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 80px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
			.second{
				width: 590px;
				height: 241px;
				float: left;
				border:1px solid #ccc;
				margin-left: 18px;
				&:hover{
					box-shadow: 0 0 4px 1px #ccc;
				}
				.cloth-img{
					float: left;
					img{
					width: 285px;
					height: 240px;
					}
				}
				.cloth-word{
					float: left;
					margin-left: 47px;
					margin-top: 80px;
					.p1{
						color: red;
						font-size: 20px;
						span{
							color: #666666;
							margin-left: 80px;
							font-size: 14px;
						}
					}
					.p2{
						margin-top: 20px;
						line-height: 16px;
					}
				}
			}
		}
		.da-main-shopword{
			height: 142px;
			padding-top: 62px;
			.p1{
				margin-left: 30px;
				color: #666666;
				font-size: 16px;
			}
			.p2{
				color: #666666;
				font-size: 16px;
				margin-top: 30px;
				margin-left: 30px;
			}
		}
		.da-main-world{
			height: 234px;
			padding-top: 42px;
			background: #fff;
			.one{
				width: 210px;
				height: 140px;
				float: left;
				border:1px solid #ccc;
				margin-left: 40px;
				&:hover{
					box-shadow: 1px 0 4px 3px #ccc;
				}
				img{
					width: 210px;
					height: 140px;
				}
			}
			
			.two{
				width: 210px;
				height: 140px;
				float: left;
				border:1px solid #ccc;
				margin-left: 20px;
				&:hover{
					box-shadow: 1px 0 4px 3px #ccc;
				}
				img{
					width: 210px;
					height: 140px;
				}
			}
			.three{
				width: 210px;
				height: 140px;
				float: left;
				border:1px solid #ccc;
				margin-left: 20px;
				&:hover{
					box-shadow: 1px 0 4px 3px #ccc;
				}
				img{
					width: 210px;
					height: 140px;
				}
			}
			.four{
				width: 210px;
				height: 140px;
				float: left;
				border:1px solid #ccc;
				margin-left: 20px;
				&:hover{
					box-shadow: 1px 0 4px 3px #ccc;
				}
				img{
					width: 210px;
					height: 140px;
				}
			}
			.five{
				width: 210px;
				height: 140px;
				float: left;
				border:1px solid #ccc;
				margin-left: 20px;
				&:hover{
					box-shadow: 1px 0 4px 3px #ccc;
				}
				img{
					width: 210px;
					height: 140px;
				}
			}
		}
		.da-main-good{
			height: 83px;
			padding-top: 53px;
			p{
				font-size: 16px;
				color: #666666;
				margin-left: 53px;
			}
		}
		.da-main-tab{
			height: 1039px;
			background: #fff;
			padding-top: 39px;
			ul{
				height: 33px;
				border-bottom: 1px solid #ccc;
				padding-left: 37px;
				li{
					float: left;
					padding:5px 16px;
					margin-right: 10px;
					border:1px solid #ccc;
					border-bottom: 0;
					font-size: 16px;
					color: #666666;
				}
			}
		}
		.tab-productone{
			.dataone{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datatwo{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datathree{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
		}
		.tab-producttwo{
			.datafour{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datafive{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datasix{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
		}
	}
	.da-buytext{
		p{
			color: #666666;
			font-size: 16px;
			margin-top: 52px;
			margin-left: 57px;
		}
	}
	// 手风琴
	.buy-list{
		height: 472px;
		width: 395px;
		background: #fff;
		margin-top:5px;
		.clearintro{
			margin-left: 176px;
			line-height: 48px;
			color: #E14958;
			font-size: 16px;
		}
		ul{
			height: 425px;
			width: 395px;
			.clearfirst{
				height: 213px;
				border-top:1px solid #ccc;
				.top{
					background: #E14958;
					color: #fff;
					display: block;
					width: 70px;
					height: 20px;
					text-align: center;
					font-size: 14px;
				}
				a{
					img{
					    width: 166px;
					    height: 166px;
					    float: left;
					}
				}
				.clearmsg{
					width: 188px;
					height: 166px;
					float: left;
					.tip1{
						margin-top: 22px;
						color: #666666;
					}
					.tip2{
						color: #666666;
					}
					.tip3{
						margin-top: 40px;
						.newprice{
							font-size: 20px;
							color: red;
						}
					}
				}
			}
			.ex-first{
				height: 213px;
				border-bottom:1px solid #ccc;
				border-top:1px solid #ccc;
				.top{
					background: #E14958;
					color: #fff;
					display: block;
					width: 70px;
					height: 20px;
					text-align: center;
					font-size: 14px;
				}
				a{
					img{
					    width: 166px;
					    height: 166px;
					    float: left;
					}
				}
				.clearmsg{
					width: 188px;
					height: 166px;
					float: left;
					.tip1{
						margin-top: 22px;
						color: #666666;
					}
					.tip2{
						color: #666666;
					}
					.tip3{
						margin-top: 40px;
						.newprice{
							font-size: 20px;
							color: red;
						}
					}
				}
			}
		}

	}
	.second-buytext{
		p{
			color: #666666;
			font-size: 16px;
			margin-top: 52px;
			margin-left: 57px;
		}
	}
	.da-newproduct{
		height: 971px;
		background: #fff;
		margin-top: 5px;

		// 引用
		.new-productone{
			.dataone{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datatwo{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datathree{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 40px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
		}
		.new-producttwo{
			.datafour{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datafive{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
			.datasix{
				width: 282px;
				height: 444px;
				margin-left: 82px;
				margin-top: 15px;
				float: left;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				img{
					width: 280px;
					height: 280px;
				}
				p{
					margin-top: 10px;
					margin-left: 10px;
					.rede{
					color: red;
				}
					.newprice{
						color: red;
						font-size: 20px;
					}
				}
				a{
					&:hover{
						text-decoration: underline;
					}
					p{
						color: #666666;
					}
				}
				.comment {
					width: 260px;
					height: 50px;
					background: #FFFDE6;
					border-radius: 30px;
					margin-top: 10px;
					.face{
						float: left;
						padding-top: 8px;
						margin-left: 10px;
						img{
						width: 30px;
						height: 30px;
						border-radius: 50%;
						}
					}
					.comment-text{
						float: left;
						p{
							font-size: 12px;
						}
					}
				}
				.list{
					margin-left: 120px;
				}

			}
		}
	}
	.main-new-word{
		height: 156px;
		p{
			
			font-size: 30px;
			margin-left: 384px;
			color: #666666;
			margin-top: 40px;
		}
		span{
			display: block;
			margin-top: 68px;
			margin-left: 56px;
			color: #666666;
			font-size: 16px;
		}	
	}
	.sale-list{
		width: 1200px;
		height: 1232px;
		margin:0 auto;
		.list-one{
			float: left;
			background: #F9F9F9;
			width: 789px;
			height: 1232px;
			.listproduct-one{
				width: 789px;
				height: 284px;
				background: #fff;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				.list-img{
					width: 281px;
					height: 284px;
					margin-left: 108px;
					float: left;
					img{
						width: 280px;
						height: 280px;
					}
				}
				.list-message{
					float: left;
					width: 292px;
					height: 268px;
					margin-left: 100px;
					.timeout{
						width: 194px;
						height: 28px;
						background: black;
						margin-left: 24px;
					}
					.title{
						margin-top: 22px;
						.discount{
							color: red;
						}
						a{
							color: black;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.intro{
						color: #888888;
						margin-top: 22px;
					}
					.price {
						margin-top: 52px;
						.rede{
						color: red;
						}
						.newprice{
							color: red;
							font-size: 22px;
							margin-top: 52px;
						}
					}
					.function{
						margin-top: 25px;
						a{
							display: block;
							width: 140px;
							height: 40px;
							background: red;
							color: #fff;
							line-height: 40px;
							text-align: center;
							font-size: 16px;
							float: left;
							&:hover{
								text-decoration: underline;
							}
						}
						.buypeo{
							display: block;
							float: left;
							margin-left: 30px;
							margin-top: 15px;
						}
					}
				}
			}
			.listproduct-two{
				width: 789px;
				height: 284px;
				background: #fff;
				margin-top: 17px;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				.list-img{
					width: 281px;
					height: 284px;
					margin-left: 108px;
					float: left;
					img{
						width: 280px;
						height: 280px;
					}
				}
				.list-message{
					float: left;
					width: 292px;
					height: 268px;
					margin-left: 100px;
					.timeout{
						width: 194px;
						height: 28px;
						background: black;
						margin-left: 24px;
					}
					.title{
						margin-top: 22px;
						.discount{
							color: red;
						}
						a{
							color: black;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.intro{
						color: #888888;
						margin-top: 22px;
					}
					.price {
						margin-top: 52px;
						.rede{
						color: red;
						}
						.newprice{
							color: red;
							font-size: 22px;
							margin-top: 52px;
						}
					}
					.function{
						margin-top: 25px;
						a{
							display: block;
							width: 140px;
							height: 40px;
							background: red;
							color: #fff;
							line-height: 40px;
							text-align: center;
							font-size: 16px;
							float: left;
							&:hover{
								text-decoration: underline;
							}
						}
						.buypeo{
							display: block;
							float: left;
							margin-left: 30px;
							margin-top: 15px;
						}
					}
				}
			}
			.listproduct-three{
				width: 789px;
				height: 284px;
				background: #fff;
				margin-top: 17px;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				.list-img{
					width: 281px;
					height: 284px;
					margin-left: 108px;
					float: left;
					img{
						width: 280px;
						height: 280px;
					}
				}
				.list-message{
					float: left;
					width: 292px;
					height: 268px;
					margin-left: 100px;
					.timeout{
						width: 194px;
						height: 28px;
						background: black;
						margin-left: 24px;
					}
					.title{
						margin-top: 22px;
						.discount{
							color: red;
						}
						a{
							color: black;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.intro{
						color: #888888;
						margin-top: 22px;
					}
					.price {
						margin-top: 52px;
						.rede{
						color: red;
						}
						.newprice{
							color: red;
							font-size: 22px;
							margin-top: 52px;
						}
					}
					.function{
						margin-top: 25px;
						a{
							display: block;
							width: 140px;
							height: 40px;
							background: red;
							color: #fff;
							line-height: 40px;
							text-align: center;
							font-size: 16px;
							float: left;
								&:hover{
									text-decoration: underline;
								}
						}
						.buypeo{
							display: block;
							float: left;
							margin-left: 30px;
							margin-top: 15px;
						}
					}
				}
			}
			.listproduct-four{
				width: 789px;
				height: 284px;
				background: #fff;
				margin-top: 17px;
				&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
				}
				.list-img{
					width: 281px;
					height: 284px;
					margin-left: 108px;
					float: left;
					img{
						width: 280px;
						height: 280px;
					}
				}
				.list-message{
					float: left;
					width: 292px;
					height: 268px;
					margin-left: 100px;
					.timeout{
						width: 194px;
						height: 28px;
						background: black;
						margin-left: 24px;
					}
					.title{
						margin-top: 22px;
						.discount{
							color: red;
						}
						a{
							color: black;
							&:hover{
								text-decoration: underline;
							}
						}
					}
					.intro{
						color: #888888;
						margin-top: 22px;
					}
					.price {
						margin-top: 52px;
						.rede{
						color: red;
						}
						.newprice{
							color: red;
							font-size: 22px;
							margin-top: 52px;
						}
					}
					.function{
						margin-top: 25px;
						a{
							display: block;
							width: 140px;
							height: 40px;
							background: red;
							color: #fff;
							line-height: 40px;
							text-align: center;
							font-size: 16px;
							float: left;
							&:hover{
								text-decoration: underline;
							}
						}
						.buypeo{
							display: block;
							float: left;
							margin-left: 30px;
							margin-top: 15px;
						}
					}
				}
			}
		}
		.list-two{
			float: left;
			margin-left: 24px;
			.tomorrow{
				height: 58px;
				width: 386px;
				background: #F9F9F9;
				.tip-one{
					font-size: 18px;
					margin-left: 155px;
				}
				.tip-two{
					font-size: 14px;
					margin-left: 120px;
				}
			}
			.data-flash{
				width: 386px;
				height: 1051px;
				background: #F9F9F9;
				.clearfix{
					width: 386px;
					height: 195px;
					background: #fff;
					margin-bottom: 20px;
					&:hover{
					box-shadow: 0 0 4px 3px #ccc; 
					}
					
					a img{
						width: 236px;
						height: 193px;
						float: left;
					}
					.data{
						width: 150px;
						height: 195px;
						float: left;
						.count{
							margin-top: 21px;
						}
						.function{
							margin-top: 104px;
							margin-left: 30px;
							a{

							}
							.shopcar{
								width: 79px;
								height: 21px;
								background: #E14958;
								border:0;
								line-height: 21px;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}
//
.da-main-tab ul li.active{
	background-color: #E14958;
	color: #fff;
}
.da-main-tab .tab{
	display: none;
}