@import url(common.css);
.header { height: 100px; border-bottom: 1px solid #ccc; padding-top: 20px; }

.header .logo { width: 280px; height: 40px; margin-left: 70px; }

.da-login { height: 660px; background: #F9FBFD; padding-top: 40px; }

.da-login .login-img { margin-left: 170px; float: left; }

.da-login .da-login-dl { width: 456px; height: 488px; border: 1px solid #ccc; float: left; background: #fff; margin-left: 100px; }

.da-login .da-login-dl .login-peo { font-size: 16px; margin-left: 49px; margin-top: 26px; }

.da-login .da-login-dl .login-zc { height: 59px; width: 355px; border-bottom: 1px solid #000; margin-left: 50px; }

.da-login .da-login-dl .login-zc .dl { width: 68px; height: 37px; float: left; font-size: 16px; line-height: 37px; text-align: center; margin-left: 38px; margin-top: 22px; }

.da-login .da-login-dl .login-zc .dl:hover { border-bottom: 2px solid #7D589D; }

.da-login .da-login-dl .login-zc .zc { width: 68px; height: 37px; float: left; font-size: 16px; line-height: 37px; text-align: center; margin-left: 38px; margin-top: 22px; }

.da-login .da-login-dl .login-zc .zc:hover { border-bottom: 2px solid #7D589D; }

.da-login .da-login-dl .current { margin-left: 63px; margin-top: 40px; }

.da-login .da-login-dl .current .sign { display: block; width: 44px; height: 41px; float: left; border: 1px solid #ccc; border-right: 0; }

.da-login .da-login-dl .current .mobile { width: 278px; height: 41px; border: 1px solid #ccc; }

.da-login .da-login-dl .ctrl { margin-left: 63px; margin-top: 20px; }

.da-login .da-login-dl .ctrl .pswsign { display: block; width: 44px; height: 41px; float: left; border: 1px solid #ccc; border-right: 0; }

.da-login .da-login-dl .ctrl .psw { width: 278px; height: 41px; border: 1px solid #ccc; }

.da-login .da-login-dl .forget { display: block; margin-top: 23px; margin-left: 327px; }

.da-login .da-login-dl .forget:hover { text-decoration: underline; }

.da-login .da-login-dl .submit-btn { width: 322px; height: 41px; margin-left: 63px; margin-top: 20px; background: #E14958; color: #fff; font-size: 16px; border: 0; font-weight: bold; }
